<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>bizcardmaker api</title>

  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">

  <style>

    table {
      width: 100%;
    }

    .row {
      max-width: 1120px;
    }
    
    td {
      max-width: 250px;
    }

  </style>

</head>
<body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">bizcardmaker API</a>
        </h1>
      </li>
    </ul>
  </nav>

  <div class="row">
    <div class="small-12 columns">

      <dl class="tabs" data-tab>
        <dd class="active">
          <a href="#orders">
            Orders
          </a>
        </dd>
        <dd>
          <a href="#users">
            Users
          </a>
        </dd>
        <dd>
          <a href="#all-orders">
            Printchomp orders
          </a>
        </dd>
      </dl>

      <div class="tabs-content">

        <div class="content active" id="orders">
        
          <form action="/orders" class="form-filter">
            <fieldset>
              <legend>
                Filter orders
              </legend>
              <div class="row">
                <div class="large-4 columns">
                  
                  <div class="row">
                    <div class="small-3 columns">
                      <label for="startDate" class="right inline">
                        Start date
                      </label>
                    </div>
                    <div class="small-9 columns">
                      <input type="date" id="startDate" name="startDate" value="<%= startDate %>" class="field-start-date">
                    </div>
                  </div>
                  
                </div>
                <div class="large-4 columns">
                  
                  <div class="row">
                    <div class="small-3 columns">
                      <label for="endDate" class="right inline">
                        End date
                      </label>
                    </div>
                    <div class="small-9 columns">
                      <input type="date" id="endDate" name="endDate" value="<%= endDate %>" class="field-end-date">
                    </div>
                  </div>
                  
                </div>
                <div class="large-4 columns">
                  <button type="submit" class="button small">
                    Filter
                  </button>
                </div>
              </div>
              
              <ul class="button-group">
                <li>
                  <a class="button small secondary btn-all-orders">
                    All orders
                  </a>
                </li>
                <li>
                  <a href="/orders" class="button small secondary btn-last-30-days">
                    Last 30 days
                  </a>
                </li>
                <li>
                  <a class="button small secondary btn-this-month">
                    This month
                  </a>
                </li>
                <li>
                  <a class="button small secondary btn-last-month">
                    Last month
                  </a>
                </li>
              </ul>
              
            </fieldset>
            
          </form>

          <table border="1">
            <thead>
              <tr>
                <td></td>
                <td>
                  Date
                </td>
                <td>
                  User
                </td>
                <td>
                  PDF
                </td>
                <td>
                  Offer
                </td>
                <td>
                  Price
                </td>
              </tr>
            </thead>
            <tbody>
            
              <% orders.forEach(function(order, index) { %>
                <tr>
                  <td>
                    <%= orders.length - index %>
                  </td>
                  <td>
                    <span title="<%= order.date %>">
                      <%= moment(order.date).format('YYYY-MM-DD') %>
                    </span>
                  </td>
                  <td>
                    <div>
                      <i>
                        <%= order.user.id %>
                      </i>
                    </div>
                    <strong>
                      <%= order.user.name %>
                    </strong>
                    <div>
                      <%= order.user.email %>
                    </div>
                  </td>
                  <td>
                    <% order.pdf.forEach(function(pdf, index) { %>
                      <a href="<%= pdf.url || pdf.uri %>" target="_blank">
                        PDF
                      </a>
                    <% }) %>
                  </td>
                  <td>
                    <i>
                      <%= order.offer.id %>
                    </i>
                    <div>
                      <%= order.offer.title %>
                    </div>
                  </td>
                  <td>
                    <div>
                        Offer: 
                      <strong>
                      <%= (order.billing.price / 100).toFixed(2) %>
                      </strong>
                    </div>
                    <div>
                        Shipping: 
                      <strong>
                      <%= (order.billing.shipping / 100).toFixed(2) %>
                      </strong>
                    </div>
                    <div>
                        Total: 
                      <strong>
                      <%= (order.billing.total / 100).toFixed(2) %>
                      <%= order.billing.currency %>
                      </strong>
                    </div>
                  </td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
          
          <p>
            Orders total:
            <strong>
              <%= (ordersTotal / 100).toFixed(2) %>
            </strong>
          </p>

        </div>

        <div class="content" id="users">

          <table border="1">
            <thead>
              <tr>
                <td>
                  User ID
                </td>
                <td>
                  Name
                </td>
                <td>
                  Email
                </td>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user, index) { %>
                <tr>
                  <td>
                    <%= user.id %>
                  </td>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>

        </div>

        <div class="content" id="all-orders">

          <table border="1">
            <thead>
              <tr>
                <td>
                  Order ID
                </td>
                <td>
                  User ID
                </td>
                <td>
                  Name
                </td>
                <td>
                  Status
                </td>
                <td>
                  Offer price
                </td>
              </tr>
            </thead>
            <tbody>

              <% allOrders.forEach(function(order, index) { %>

                <tr>
                  <td>
                    <%= order.id %>
                  </td>
                  <td>
                    <%= order.customer.id %>
                  </td>
                  <td>
                    <%= order.customer.name %>
                  </td>
                  <td>
                    <%= order.status %>
                  </td>
                  <td>
                    <%= (order.total / 100).toFixed(2) %>
                  </td>
                </tr>

              <% }) %>

            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/bower_components/momentjs/min/moment.min.js"></script>

  <script>
    $(document).foundation({
      tab: {
        callback : function (tab) {
          // tab selected
        }
      }
    });
    
    var $filterForm = $('.form-filter');
    var $startDate = $('.field-start-date');
    var $endDate = $('.field-end-date');
    
    var today = moment().format('YYYY-MM-DD');
    
    $('.btn-all-orders').on('click', function() {
    
      $startDate.val('1970-01-01');
      $endDate.val(today);
      
      $filterForm.submit();
    
    });
    
    $('.btn-this-month').on('click', function() {
    
      $startDate.val( moment().startOf('month').format('YYYY-MM-DD') );
      $endDate.val(today);
      
      $filterForm.submit();
    
    });
    
    $('.btn-last-month').on('click', function() {
    
      $startDate.val( moment().subtract(1, 'months').startOf('month').format('YYYY-MM-DD') );
      $endDate.val( moment().subtract(1,'months').endOf('month').format('YYYY-MM-DD') );
      
      $filterForm.submit();
    
    });
    
  </script>

</body>
</html>
