<tr>
  <td>
    <span title="<%= order.date %>">
      <%= moment(order.date).format('YYYY-MM-DD') %>
    </span>
  </td>
  <td>
    <%= order.user.id %>
  </td>
  <td>
    <%= order.user.name %>
  </td>
  <td>
    <%= order.user.email %>
  </td>

  <td>
    <% order.pdf.forEach(function(pdf, index) { %>
      <a href="<%= pdf.url || pdf.uri %>" target="_blank">
        PDF
      </a>
    <% }) %>
  </td>

  <td>
    <%= order.offer.id %>
  </td>
  <td>
    <%= offers[order.offer.id].title %>
  </td>
  <td>
    <%= (offers[order.offer.id].amount.total / 100).toFixed(2) %>
  </td>
</tr>
