<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>
    bizcardmaker api
  </title>

  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">
  
  <link rel="stylesheet" href="/orders/orders.css">
</head>
<body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/orders">
            bizcardmaker API
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span></span></a>
      </li>
    </ul>
    
    <section class="top-bar-section">
      <ul class="right" data-tab>
        <li class="active">
          <a href="#orders">
            Orders
          </a>
        </li>
        <li>
          <a href="#users">
            Users
          </a>
        </li>
        <li>
          <a href="#printchomp-orders">
            Printchomp Orders
          </a>
        </li>
      </ul>
    </section>
  </nav>

  <div class="row">
    <div class="small-12 columns">

      <div class="tabs-content">

        <div class="content active" id="orders">
        
          <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
              <a href="#filters">
                Filter orders
              </a>
                
                <form id="filters" action="/orders" class="content form-filter">
                  
                  <fieldset>
                  
                    <div class="row">
                      <div class="large-6 columns">
                        
                        <div class="row">
                          <div class="small-3 columns">
                            <label for="startDate" class="right inline">
                              Start date
                            </label>
                          </div>
                          <div class="small-9 columns">
                            <input type="date" id="startDate" name="startDate" value="<%= startDate %>" class="field-start-date">
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="small-3 columns">
                            <label for="endDate" class="right inline">
                              End date
                            </label>
                          </div>
                          <div class="small-9 columns">
                            <input type="date" id="endDate" name="endDate" value="<%= endDate %>" class="field-end-date">
                          </div>
                        </div>
                        
                        <button type="submit" class="button small right">
                          Filter
                        </button>
                        
                      </div>
                      
                      <div class="large-6 columns">
                    
                        <ul class="button-group">
                          <li>
                            <a class="button small secondary btn-all-orders">
                              All orders
                            </a>
                          </li>
                          <li>
                            <a href="/orders" class="button small secondary btn-last-30-days">
                              Last 30 days
                            </a>
                          </li>
                          <li>
                            <a class="button small secondary btn-this-month">
                              This month
                            </a>
                          </li>
                          <li>
                            <a class="button small secondary btn-last-month">
                              Last month
                            </a>
                          </li>
                        </ul>
                    
                      </div>
                    </div>
                    
                  </fieldset>
                </form>
                    
            </li>
          </ul>

          <table border="1" class="responsive">
            <thead>
              <tr>
                <td></td>
                <td>
                  Date
                </td>
                <td>
                  User
                </td>
                <td>
                  PDF
                </td>
                <td>
                  Offer
                </td>
                <td>
                  Price
                </td>
              </tr>
            </thead>
            <tbody>
            
              <% orders.forEach(function(order, index) { %>
                <tr>
                  <td>
                    <%= orders.length - index %>
                  </td>
                  <td>
                    <span title="<%= order.date %>">
                      <%= moment(order.date).format('YYYY-MM-DD') %>
                    </span>
                  </td>
                  <td>
                    <div>
                      <i>
                        <%= order.user.id %>
                      </i>
                    </div>
                    <strong>
                      <%= order.user.name %>
                    </strong>
                    <div>
                      <%= order.user.email %>
                    </div>
                  </td>
                  <td>
                    <% order.pdf.forEach(function(pdf, index) { %>
                      <a href="<%= pdf.url || pdf.uri %>" target="_blank">
                        PDF
                      </a>
                    <% }) %>
                  </td>
                  <td>
                    <i>
                      <%= order.offer.id %>
                    </i>
                    <div>
                      <%= order.offer.title %>
                    </div>
                  </td>
                  <td>
                    <div>
                        Offer: 
                      <strong>
                      <%= (order.billing.price / 100).toFixed(2) %>
                      </strong>
                    </div>
                    <div>
                        Shipping: 
                      <strong>
                      <%= (order.billing.shipping / 100).toFixed(2) %>
                      </strong>
                    </div>
                    <div>
                        Total: 
                      <strong>
                      <%= (order.billing.total / 100).toFixed(2) %>
                      <%= order.billing.currency %>
                      </strong>
                    </div>
                  </td>
                </tr>
              <% }) %>
              
            </tbody>
          </table>
          
          <p>
            Total:
            <strong>
              <%= (ordersTotal / 100).toFixed(2) %>
            </strong>
          </p>

        </div>

        <div class="content" id="users">

          <table border="1" class="responsive">
            <thead>
              <tr>
                <td>
                  User ID
                </td>
                <td>
                  Name
                </td>
                <td>
                  Email
                </td>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user, index) { %>
                <tr>
                  <td>
                    <%= user.id %>
                  </td>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>

        </div>

        <div class="content" id="printchomp-orders">

          <table border="1" class="responsive">
            <thead>
              <tr>
                <td>
                  Order ID
                </td>
                <td>
                  User ID
                </td>
                <td>
                  Name
                </td>
                <td>
                  Status
                </td>
                <td>
                  Offer price
                </td>
                <td>
                  
                </td>
              </tr>
            </thead>
            <tbody>

              <% allOrders.forEach(function(order, index) { %>

                <tr>
                  <td>
                    <%= order.id %>
                  </td>
                  <td>
                    <%= order.customer.id %>
                  </td>
                  <td>
                    <%= order.customer.name %>
                  </td>
                  <td>
                    <%= order.status %>
                  </td>
                  <td>
                    <%= (order.total / 100).toFixed(2) %>
                  </td>
                  <td>
                    <button type="button" class="button secondary small  js-btn-order-details" data-id="<%= order.id %>">
                      Details
                    </button>
                  </td>
                </tr>

              <% }) %>

            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>
  
  <div class="reveal-modal js-modal-order-details" data-reveal>
    <ul class="js-modal-content"></ul>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/bower_components/momentjs/min/moment.min.js"></script>
  <script src="/bower_components/json-human/src/json.human.js"></script>

  <script src="/orders/orders.js"></script>

</body>
</html>
